<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nchu.music.dao.commentDao.CommentDao">
    <resultMap id="commentsResult" type="com.nchu.music.bean.Comments">
        <id property="commentsId" column="comments_id" />
        <result property="songId" column="song_id" />
        <result property="songName" column="song_name" />
        <result property="userName" column="user_name"/>
        <result property="userId" column="user_id" />
        <result property="commentsContent" column="comments_content"/>
        <result property="commentsTime" column="comments_time"/>
    </resultMap>
    <select id="queryCountCommentBySongId" resultType="integer">
        select count(*)
        from comments
        where song_id=#{songId}
    </select>

    <insert id="addComment">
        insert into comments(song_id, user_id, comments_content, comments_time)
        value(#{songId}, #{userId}, #{commentsContent}, #{commentsTime})
    </insert>

    <select id="queryCommentBySongId" resultMap="commentsResult">
        select comments.song_id, comments.user_id, comments_id, comments_content, comments_time, song_name, user_name
        from comments, song, music_user
        where comments.song_id=#{songId} and comments.song_id=song.song_id and comments.user_id=music_user.user_id
        order by comments_time desc
    </select>
</mapper>