<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nchu.music.dao.songManageDao.DemoDao">
    <resultMap id="SongResultMap" type="com.nchu.music.bean.Song">
        <id property="songId" column="song_id"/>
        <result property="songName" column="song_name"/>
        <result property="singerId" column="singer_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="songDocument" column="song_document"/>
        <result property="lyrics" column="lyrics"/>
    </resultMap>
    <select id="queryAllSong"  resultMap="SongResultMap">
        select *
        from song
    </select>
    <select id="findById"  resultType="integer" resultMap="SongResultMap">
        select *
        from song
        WHERE song_id = #{songId}
    </select>
    <update id="updateSong"  >
        update  song  set song_name=#{songName},singer_id=#{singerId},category_id=#{categoryId},song_document=#{songDocument},lyrics=#{lyrics}
        WHERE song_id = #{songId}
    </update>
    <delete id="deleteSong"  >
       DELETE FROM song
       WHERE song_id = #{songId}
    </delete>

    <insert id="insertSong" >
        insert into song(song_name, singer_id, category_id, song_document, lyrics)
        values(#{songName},#{singerId}, #{categoryId},#{songDocument},#{lyrics})
    </insert>

</mapper>