.container{
    width:100%;
    min-height:100%;
    position:relative;
}
.body{
    width:100%;
    min-height:100%;
    position:relative;
}
#audio{
    position:fixed;
    bottom:0px;
    left:0px;
}

.lyricsDiv {
    width: 100%;
    height:80%;
    /*background-color:lightblue;*/
    margin:20px auto;
    color: #333;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    font-family: "微软雅黑";
}

.lyricsDiv ul {
    /*margin-top: 10%;*/
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
}

.lyricsDiv ul li {
    width: 100%;
    height: 60px;
    line-height: 30px;
    text-align: center;
}

.lyricsDiv ul li.active {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.songName {
    font-size: 30px;
    text-align: center;
}

.singer {
    font-size: 15px;
}

.singer span {
    font-size: 15px;
    color: deepskyblue;
}

.top {
    height: 5%;
    text-align: right;
    font-size: 20px;
}

.containerDiv {
    width: 100%;
    height: 93%;
}

.firstLeftDiv {
    width: 15%;
    float: left;
    height: 100%;
    /*border: #d9534f solid 1px;*/
}

.firstMainDiv {
    width: 70%;
    float: left;
    height: 100%;
    /*border: #b7d2ff solid 1px;*/
}

.secondTopDiv {
    width: 50%;
    height: 60%;
    float: left;
    /*border: #333333 solid 1px;*/
}

.secondTopDiv a {
    width: 20%;
}


.secondBottomDiv {
    width: 100%;
    float: left;
    /*border: #0E2D5F solid 1px;*/
}

.imgMusic {
    width: 50%;
    margin-left: 25%;
}

.buttonDiv {
    margin-top: 12%;
    text-align: center;
}

.buttonDiv button {
    width: 20%;
}

.inputComment {
    width: 80%;
    /*height: 120px;*/
    /*background: lightgray;*/
    text-align: center;
}

.inputComment textarea {
    width: 100%;
}

.inputComment input {
    margin-top: 5px;
    width: 10%;
    float: right;
}

hr {
    width: 60%;
    align: left;
    color: red;
}

.comment {
    /*margin-bottom: 5%;*/
}

.comment img{
    float: right;
    width: 15px;
    height: 15px;
}

.comment div{
    margin-bottom: 20px;
    background-color: #fafafa;
}

.replyA {
    float: right;
    margin-right: 10px;
}

.floatRight {
    float: right;
    margin-right: 10px;
}

.disable {
    pointer-events: none;
}

.commentPages {
    margin-bottom: 5%;
}

.imgRotate{
    -webkit-animation:rotateImg 20s linear infinite;
    /*border: #d9534f solid 1px;*/
}

@keyframes rotateImg {
    0% {transform : rotate(0deg);}
    100% {transform : rotate(360deg);}
}

@-webkit-keyframes rotateImg {
    0%{-webkit-transform : rotate(0deg);}
    100%{-webkit-transform : rotate(360deg);}
}


