.body{
    width:100%;
    min-height:100%;
    position:relative;
}

#audio{
    position:fixed;
    bottom:0px;
    left:0px;
}

.containerDiv {
    width: 100%;
    height: 93%;
}

.firstLeftDiv {
    width: 15%;
    float: left;
    height: 100%;
    /*border: #d9534f solid 1px;*/
}

.firstMainDiv {
    width: 70%;
    float: left;
    height: 100%;
    /*border: #b7d2ff solid 1px;*/
}

.secondBottomDiv {
    width: 100%;
    float: left;
    /*border: #0E2D5F solid 1px;*/
}

.originComment {
    /*border: #d9534f solid 1px;*/
    /*background-color: #f0f0f0;*/
    width: 80%;
}

.commentsTime {
    margin-bottom: 10px;
}

hr {
    width: 60%;
    align: left;
}

.inputComment {
    width: 80%;
    /*height: 120px;*/
    /*background: lightgray;*/
    text-align: center;
}

.inputComment textarea {
    width: 100%;
}

.inputComment input {
    margin-top: 5px;
    width: 10%;
    float: right;
}

.comment {
    width: 80%;
    margin-bottom: 5%;
}

.comment div{
    margin-bottom: 20px;
    background-color: #fafafa;
}


.replyA {
    float: right;
    margin-left: 10px;
}

.floatRight {
    float: right;
}

.disable {
    pointer-events: none;
}

.commentPages {
    margin-bottom: 5%;
}

